body {
    background-color: rgba(43, 43, 43, 1);
    box-sizing: border-box;
}

.title {
    position: absolute;
    top: 80px;
    left: 20px;
    background: none;
    border: none;
    z-index: 10;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
}

.subtitle {
    position: absolute;
    top: 120px;
    left: 20px;
    background: none;
    border: none;
    z-index: 10;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.info {
    position: absolute;
    color: white;
    top: 200px;
    left: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.footer {
    position: absolute;
    color: white;
    bottom: 20px;
    left: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.locate {
    position: absolute;
    top: 80px;
    right: 20px;
    background: none;
    border: none;
    z-index: 10;
}

.locate img {
    top: 20px;
    right: 10px;
    width: 40px;
    padding: 20px 20px 0 20px;
    cursor: pointer;
}

.search {
    position: absolute;
    z-index: 10;
    top: 180px;
    right: 20px;
    background-color: rgba(51, 51, 51, 1);
    color: white;
    font-family: 'Lato', sans-serif;
    width: 145px;
}

.description {
    color: rgba(2, 125, 195, 1);
    font-family: 'Lato', sans-serif;
    margin: 0;
    font-weight: 800;
}

ul {
    display: flex;
    justify-content: space-around;
    padding-inline-start: 0;
}

.routes {
    list-style: none;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    display: inline-flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 5px;
}

a {
    text-decoration: none;
    color: white;
    display: inline-flex;
    justify-content: space-between;
}

a:hover {
    color: rgba(2, 125, 195, 1);
}